@tailwind base;
@tailwind components;
@tailwind utilities;
.anime {
  background: url("./assets/College.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem; /* Set your desired height */
  width: 100%; /* Full width */
}
.anime1 {
  background-color: rgba(2, 29, 79, 0.957) ;
  background-size: cover;
  background-position: center; /* Set your desired height */
  width: 100%; /* Full width */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Gilroy";
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: rgba(2, 29, 79, 0.957);
}
::selection{
  color: white;
  background: black;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px; /* Corrected typo here */
}
.image {
  max-width: 100px;
  margin-right:1000px;
}

.nav {
  display: flex;
  margin-left: 20px;
} 

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-items {
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

.menu-items:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Tablet */
@media (max-width: 1000px) {
  .anime {
    height: 100rem;
    width: 100%; 
    background: white;
  }
  .hello{
    width: 80%;
    height: 52rem;
    margin-top: 20rem;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

}

/* Mobile
@media (max-width: 480px) {
  .anime {
    height: 100rem;
    width: auto;

  }
  .hello{
    width: 470px;
    height: 52rem; 
    margin-top: 20rem;

  }
  .button-container {
    width: 50%; /* Each button takes 50% of the width, creating a 2-column layout */
  /* } */
/* } */